<template name="echartsTest">
    <div class="ech">
        <div id="RadialGradient" class="col-md-5 col-sm-5 col-xs-12"
             style="height:400px;margin-top: 3%;">
        </div>
        <div id="Recycle" class="col-md-5 col-sm-5 col-xs-12"
             style="height:400px;margin-top: 3%;">
        </div>
    </div>
</template>