<template name="postsList">
    <div class="posts">
        {{#each posts}}
        {{> postItem}}
        {{/each}}
    </div>
    <div class="echarts">
        {{> echartsTest}}
    </div>
</template>