<template name="layout">
    <!--<div class="container">-->
        <!--<header class="navbar navbar-default" role="navigation">-->
            <!--<div class="navbar-header">-->
                <!--<a class="navbar-brand" href="{{pathFor 'postList'}}">Microscope</a>-->
            <!--</div>-->
        <!--</header>-->
        <!--<div id="main" class="row-fluid">-->
            {{> yield}}
        <!--</div>-->
    <!--</div>-->
</template>