<template name="_appHeader">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{pathFor 'dashboard'}}" class="logo"><b>爱回收</b>信息管理平台</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}

                    <!-- User Account: style can be found in dropdown.less -->
                    <li id="mobilenote" class="dropdown user user-menu">
                        <a href="#!" class="dropdown-toggle">
                            <span><i class="fa fa-info"></i></span>
                            <span>手机请横屏使用</span>
                        </a>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="{{pathFor 'appinstall'}}" class="dropdown-toggle">
                            <span><i class="fa fa-mobile"></i></span>
                            <span>App</span>
                        </a>
                    </li>
                    <li id="crm" class="dropdown user user-menu" style="position:relative">
                        <a href="http://ticket.aihuishou.com/" class="dropdown-toggle">
                            <span><i class="fa fa-tasks"></i></span>
                            <span>任务单</span>
                            <span class="label label-danger">{{ currentProcessCount }}</span>
                        </a>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span><i class="fa fa-user"></i></span>
                            <span>{{ currentUser.profile.username }}</span>
                        </a>
                    </li>
                    {{else}}
                    <a href="#" data-action="login" class="btn btn-default navbar-btn">登录</a> {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" style="height:auto">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <!--<div class="pull-left image">
                    <img src="images/avatar5.png" class="img-circle" alt="User Image"/>
                </div>-->
                <div class="pull-left info">
                    <p>{{ currentUser.profile.username }}</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <ul class="sidebar-menu">

                <li class="header own">公用数据报表</li>
                <li id="managereport" class="treeview navi-tab own">
                    <a href="#">
                        <i class="fa fa-newspaper-o"></i> <span>管理层报表</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li id="home" class="navi-tab"><a href="{{pathFor 'home'}}"><i
                                class="fa fa-circle-o"></i> 销售利润分析</a></li>
                    </ul>
                </li>

            </ul>
        </section>
    </aside>
</template>