/* Responsive Tables Elite */
@media only screen and (max-width: 767px) {
    
    /* Force table to not be like tables anymore */
    .rte table, 
    .rte thead, 
    .rte tbody, 
    .rte th, 
    .rte td, 
    .rte tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    .rte thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    .rte tr { border: 1px solid #ccc; }
 
    .rte td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50% !important; 
        white-space: normal;
    }
 
    .rte td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        font-weight: bold;
    }
 
    /*
    Label the data
    */
    .rteIP td:nth-of-type(1):before { content: "姓名" }
    .rteIP td:nth-of-type(2):before { content: "OB账号" }
    .rteIP td:nth-of-type(3):before { content: "部门" }
    .rteIP td:nth-of-type(4):before { content: "时间" }
    .rteIP td:nth-of-type(5):before { content: "IP" }
    .rteIP td:nth-of-type(6):before { content: "城市" }
    .rteIP td:nth-of-type(7):before { content: "操作" }

    .rteW td:nth-of-type(1):before { content: "时间" }
    .rteW td:nth-of-type(2):before { content: "操作人" }
    .rteW td:nth-of-type(3):before { content: "被添加人" }
    .rteW td:nth-of-type(4):before { content: "IP" }

    .rteProduct td:nth-of-type(1):before { content: "时间" }
    .rteProduct td:nth-of-type(2):before { content: "商品" }
    .rteProduct td:nth-of-type(3):before { content: "品牌" }
    .rteProduct td:nth-of-type(4):before { content: "商品品类" }
    .rteProduct td:nth-of-type(5):before { content: "快递订单" }
    .rteProduct td:nth-of-type(6):before { content: "上门订单" }
    .rteProduct td:nth-of-type(7):before { content: "门店订单" }
    .rteProduct td:nth-of-type(8):before { content: "总订单数" }

    .rteRecycler td:nth-of-type(1):before { content: "回收商" }
    .rteRecycler td:nth-of-type(2):before { content: "回收商账户" }
    .rteRecycler td:nth-of-type(3):before { content: "出库总金额" }
    .rteRecycler td:nth-of-type(4):before { content: "回收商账户余额" }
    .rteRecycler td:nth-of-type(5):before { content: "欠款" }
    .rteRecycler td:nth-of-type(6):before { content: "联系电话" }

    .rteTradePredict td:nth-of-type(1):before { content: "日期" }
    .rteTradePredict td:nth-of-type(2):before { content: "快递订单提交量" }
    .rteTradePredict td:nth-of-type(3):before { content: "实际收获量" }
    .rteTradePredict td:nth-of-type(4):before { content: "转化率" }
    .rteTradePredict td:nth-of-type(5):before { content: "预测到货快递量" }
    .rteTradePredict td:nth-of-type(6):before { content: "准确率" }



}